################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iLogic-Vault/.vs/iLogic-Vault/v15
/.vs/iLogic-Vault/v15
/.vs
