################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iLogic-Vault/.vs/iLogic-Vault/v15
/.vs/iLogic-Vault/v15
/.vs
/iLogic-Vault/obj/x64/Debug/TempPE
/iLogic-Vault/obj/x64/Debug
/iLogic-Vault-QuickstartLibrary/obj/x64/Debug
/iLogicDEBUG/bin/Debug
/iLogicDEBUG/obj/Debug/iLogicDEBUG.dll
/iLogicDEBUG/obj/Debug/iLogicDEBUG.pdb
/iLogicDEBUG/obj/Debug/iLogicDEBUG.Resources.resources
/iLogicDEBUG/obj/Debug/iLogicDEBUG.vbproj.FileListAbsolute.txt
/iLogicDEBUG/obj/Debug/iLogicDEBUG.vbproj.GenerateResource.cache
/iLogicDEBUG/obj/Debug/iLogicDEBUG.xml
