################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iLogic-Vault/.vs/iLogic-Vault/v15
/.vs/iLogic-Vault/v15
/.vs
/iLogic-Vault/obj/x64/Debug/TempPE
/iLogic-Vault/obj/x64/Debug
/iLogic-Vault-QuickstartLibrary/obj/x64/Debug
/iLogicDEBUG/bin/Debug
/iLogicDEBUG/obj/Debug/iLogicDEBUG.dll
/iLogicDEBUG/obj/Debug/iLogicDEBUG.pdb
/iLogicDEBUG/obj/Debug/iLogicDEBUG.Resources.resources
/iLogicDEBUG/obj/Debug/iLogicDEBUG.vbproj.FileListAbsolute.txt
/iLogicDEBUG/obj/Debug/iLogicDEBUG.vbproj.GenerateResource.cache
/iLogicDEBUG/obj/Debug/iLogicDEBUG.xml
/iLogic-Vault-QuickstartLibrary/iLogic-Vault-QuickstartLibrary.zip
/iLogic-Vault/iLogic-PDM.zip
/iLogic-Vault-QuickstartLibrary/~$Inventor iLogic - Vault Quickstart Library.pptx
/temp 2020/Connectivity.Application.VaultBase.dll
/temp 2020/Autodesk.Inventor.Interop.dll
/temp 2020/Autodesk.iLogic.Interfaces.dll
/temp 2020/Autodesk.iLogic.Common.dll
/temp 2020/Autodesk.iLogic.Automation.dll
/iLogic-Vault-QuickstartLibrary/bin/x64/Debug
/iLogic-Vault/obj/x64/Release
/iLogicDEBUG/obj/Release/TempPE
/iLogicDEBUG/obj/Release
/iLogic-Vault-QuickstartLibrary/obj/x64/Release
/iLogic-Vault-QuickstartLibrary/bin/x64/Release
/iLogic-Vault-QuickstartLibrary/Autodesk.API-Sample-Signature.pfx
*.cache
/iLogic-Vault-QuickstartLibrary/QuickstartiLogicLibrary2020.25.2.1.zip
